@import "~bootstrap/scss/bootstrap";

$background: #041623;
:root {
  --primary: #214467;
  --greyLight: #214467;
  --greyLight-2: #214467;
  --greyDark: #214467;
}
body {
  background: $background;
  font-size: 14px;
}

.header {
  color: black;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-options {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editor {
  width: 80%;
  height: 15rem;
  margin: 2rem;
}

.input-btn {
  background-color: aqua;
  color: white;
}

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

* {
  box-sizing: border-box;
}

.multi-button {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
  width: 60%;
}

.validate-btn {
  background-color: #00ff868f;
  width: 60%;
  margin-top: auto;
  width: 100%;
}

.validate-btn:hover {
  background-color: #10b981;
}

.multi-button button {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.multi-button button + button {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover,
.multi-button button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button button:active {
  transform: translateY(var(--border-size));
}

.multi-button .selected {
  background-color: rgb(97, 0, 122);
  color: white;
}

.result-container {
  width: 100%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #283c49;
  margin-top: 10rem;
}

.result {
  margin: auto !important;
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
  margin: 2rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-options {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.search {
  height: 3rem;
  width: 25rem;
  margin-bottom: 1rem;
}

.download-btn {
  width: 5rem;
  height: 3rem;
  background-color: #dae1e669;
  color: white;
}

.download-btn:hover {
  background-color: white;
  color: #3a3a3a;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.valid {
  background-color: #90ee90;
}
.invalid {
  background-color: #ffcccb;
}

// YATE
.yashe {
  width: 60rem;
}

.yate {
  width: 60rem;
}

.editors-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-top: 10rem;
}

.yashe-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.yate-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.shapemap-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.parameters {
  width: 20%;
  margin-top: 1rem;
}

.shapemap-editor {
  width: 60rem;
  height: 15rem;
  font-size: 1.4rem;
}

.title-editor {
  color: white;
}

// SELECT
/* Remove IE arrow */
.option-parameters {
  background-color: #686c74 !important;
}
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  background-color: #dae1e669;
  color: white;
  position: relative;
  display: flex;
  width: 20em;
  height: 3rem;
  overflow: hidden;
}
option {
  background-color: #dae1e669;
  color: white;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.validate-btn-container {
  margin-top: auto;
}
// BUTTON VALIDATE
/* CSS */
.button-27 {
  margin-bottom: 4rem !important;
  width: 100% !important;
  appearance: none;
  background-color: #00ff868f;
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

//NAV
.menu-btn {
  color: white;
}

.load-example {
  cursor: pointer;
  color: white;
  background-color: #328ce7;
}

.load-example :hover {
  background-color: #fafafa;
  color: #328ce7;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: #214467;
}
.wrapper {
  position: relative;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.nav-links {
  display: inline-flex;
  list-style: none;
}
// .nav-links .dropdown {
//   position: relative;
// }
.dropbtn {
  background: none;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  border: none;
  margin-right: 3rem;
  cursor: pointer;
}
.dropbtn:hover {
  background: #ffffff;
  color: #328ce7 !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242526;
  min-width: 160px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.dropdown-content a {
  color: #f2f2f2;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #328ce7;
}
.dropdown:hover .dropdown-content {
  display: block;
}

// MODAL ERROR
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-btn {
  background-color: 686c74;
  color: white !important;
}

.alert-error {
  font-size: 1.5rem;
  color: white;
  margin-top: 10rem;
  background-color: #d50404;
  z-index: 999;
  width: 60%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.close-btn {
  position: absolute;
  right: 10px; /* Distance from the right edge of the alert box */
  top: 10px; /* Distance from the top edge of the alert box */
  border: none; /* No border for the button */
  background: none; /* No background to make it look seamless within the alert */
  color: white; /* White text color to match the alert text */
  font-size: 20px; /* Larger text for better visibility */
  cursor: pointer; /* Pointer cursor on hover */
}

.close-btn:hover {
  color: #ccc; /* Lighter color on hover for visual feedback */
}

.details-col {
  width: 15%;
}

.details-button {
  padding: 0.5rem;
  background-color: #002a54;
  border: none;
  color: white;
  cursor: pointer;
}

.details-button:hover,
.details-button:focus {
  background-color: #e2e6ea;
  color: #002a54;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.reason-modal {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  animation: modalFadeIn 0.3s ease-out;
}

.reason-modal-body {
  max-height: 400px;
  overflow-y: auto;
  white-space: pre-wrap; /* This ensures that new lines and whitespaces are respected */
}

.reason-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  transition: background-color 0.3s ease-out;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.reason-modal-button {
  display: block;
  margin: 20px 0 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reason-modal-button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.spinner-container {
  position: fixed; /* Para que se superponga sobre todo el contenido */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Para centrar */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que esté por encima de todo el contenido */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para difuminado */
  backdrop-filter: blur(5px); /* Difuminado */
  width: 100vw; /* Ancho completo de la ventana */
  height: 100vh; /* Alto completo de la ventana */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.editor-tools {
  display: flex;
  gap: 2rem;
}

.analyze-btn {
  width: 20% !important;
  margin-top: 1rem;
  width: 20em;
  height: 3rem;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.analyze-btn:hover {
  margin-top: 1rem;
  width: 20em;
  height: 3rem;
  display: inline-block;
  outline: 0;
  border: 0;
  .analyze-btn {
    margin-top: 1rem;
    width: 20em;
    height: 3rem;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.show-btn {
  background-color: white;
  color: #002a54;
  border-radius: 1rem;
  border: 0;
  width: 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.3s, box-shadow 0.3s; /* Agrega una transición suave */
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}

.show-btn:hover {
  transform: scale(1.1); /* Aumenta el tamaño del botón */
  box-shadow: rgba(100, 100, 111, 0.4) 0px 10px 40px 0px; /* Incrementa la sombra */
}

.table-controls {
  margin-bottom: 1rem;
  gap: 2rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

//tryyy
ul {
  list-style-type: none;
}

.page {
  margin-right: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 3rem;
  background: #ffffff;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}

.page__numbers,
.page__btn,
.page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.page__dots {
  width: 2.6rem;
  height: 2.6rem;
  color: var(--greyLight);
  cursor: initial;
}

.page__numbers {
  width: 2.6rem;
  height: 2.6rem;

  &:hover {
    color: var(--primary);
  }

  &.active {
    color: #ffffff;
    background: var(--primary);
    font-weight: 600;
    border: 1px solid var(--primary);
  }
}

.page__btn {
  color: var(--greyLight);
  pointer-events: none;

  &.active {
    color: var(--greyDark);
    pointer-events: initial;

    &:hover {
      color: var(--primary);
    }
  }
}
